a{
    text-decoration: none;
   }
   
   header {
       display: flex;
       justify-content: space-around;
       align-items: baseline;
       margin-bottom: 80px;
       margin-top: 40px;
   }
   
   .nav-main .nav-item {
         font-size: 16px;
         font-weight: 600;
         color: white;
   }
   
   .nav-main {
       float: right;
       color: white;
       display: flex;
       gap: 20px;
   }
   
   section#home-screen {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
   }
   
   
   .registration {
       display: flex;
       width: 200px;
       padding: 40px;
       flex-direction: column;
       align-items: center;
       gap: 40px;
       border-radius: 20px;
       background: white;
       float: right;
       color: black;
   } 
   
   .registration .appointment-form {
       display: flex;
       flex-direction: column;
       gap: 4px;
   }
   
   .action-btn {
    margin-top: 40px;
    padding: 15px 40px;
    border-radius: 20px;
    background:  #FFA62B;
    border: 1;
    border-color: #FFA62B ;
    color: white;
   }

   .learn-more-btn {
    margin-top: 40px;
    padding: 15px 40px;
    border-radius: 20px;
    background:  transparent;
    border: 1;
    border-color: white;
    color: white;
   }

   .submit-appointment {
       margin-top: 40px;
       padding: 15px 40px;
       border-radius: 5px;
       background:  #FFA62B;
       border: 0;
   }
   
   body {
       margin: 0;
       background-image: url('./images/background-photo.png');
       background-image: linear-gradient(rgba(128, 128, 128, 0.7), rgba(128, 128, 128, 0.7)), url(./images/background-photo.png);
       background-size: cover;
       background-position: center top;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: white;
      width: 100%;
      height: 880px;
   }

   