:root {
    --padding-small: 8px;
    --padding-medium: 16px;
    --padding-large: 24px;

    --border-small: 4px;
    --border-medium: 12px;
    --border-large: 20px;

    --gap-size: 20px;

    --primary-color: #FFA62B;

}

a{
    text-decoration: none;
   }
   
   header {
       display: flex;
       justify-content: space-around;
       align-items: baseline;
       margin-bottom: 80px;
       margin-top: 40px;
   }
   
   .nav-main .nav-item {
         font-size: 16px;
         font-weight: 600;
         color: white;
   }
   
   .nav-main {
       float: right;
       color: white;
       display: flex;
       gap: var(--gap-size);
   }
   
   section#home-screen {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
   }
   
   
   .registration {
       display: flex;
       padding: 40px;
       max-width: 400px;
       flex-direction: column;
       align-items: center;
       gap: var(--gap-size);
       border-radius: 20px;
       background: white;
       float: right;
       color: black;
   } 
   
   .registration .appointment-form {
       display: flex;
       flex-direction: column;
       gap: var(--gap-size);
   }

   .action-btn {
    margin-right: 20px;
    margin-top: 40px;
    padding: 15px 40px;
    border-radius: 20px;
    background: var(--primary-color);
    border: 1;
    border-style: solid;
    border-color: var(--primary-color) ;
    color: white;
   }

   .learn-more-btn {
    margin-top: 40px;
    padding: 15px 40px;
    border-radius: var(--border-large);
    background:  transparent;
    border: 1;
    border-style: solid;
    border-color: white;
    color: white;
   }

   .submit-appointment {
       margin-top: 40px;
       padding: 16px 40px;
       border-radius: var(--border-small);
       background: var(--primary-color);
       border: 0;
   }
   
   body {
       margin: 0;
       background-image: url('./images/background-photo.png');
       background-image: linear-gradient(rgba(128, 128, 128, 0.7), rgba(128, 128, 128, 0.7)), url(./images/background-photo.png);
       background-size: cover;
       background-position: center top;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: white;
      padding-bottom: 40px;
      width: 100%;
      font-family: Montserrat;
      font-weight: 900;
   }

   @media (max-width: 768px) {
    .nav-item {
        display: none;
    }
    section#home-screen {
        flex-direction: column;
    }
    .title-container {
        text-align: center;
        max-width: 400px;
        margin-bottom: 40px;

    }
    section#choose-us {
        flex-direction: column;
    }

    .feature-container {
        width: 80%;
        margin-bottom: 40px;
    }

    .registration {
        width: 72%;
    }

    .contact-form {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, 40px);
        gap: 12px;
    }

    .contact-form input:last-child {
        grid-area: 5/1/7/2;
    }
   }

   @media (max-width: 480px) {
    .title-container,
    .registration {
    min-width: 220px;
}
   }

   @media (min-width: 1200px) {
    .feature-container {
       width: 20px; 
    }
   }

   /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252b42;
    padding-top: 80px;
}

.title-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

   .web-container, .national-container, .digital-container {
    width: 58%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid transparent;
   }

   .web-title-container, .national-title-container, .digital-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    border: 1px solid #d9edff;
    background-color: #d9edff;
    border-radius: 11px;
    gap: 6px;
    color: #252B42;
    font-size: small;
   }

   .web {
    display: flex;
    flex-direction: column ;
    max-width: 1200px;
    border: 1px solid white;
    background-color: white;
    border-radius: 11px;
    gap: 6px;
    color: black;
    align-items: center;
   }

   .learn-button {
    display: flex;
    align-items: flex-start;
    padding: 15px 40px;
    border-radius: var(--border-large);
    background:  transparent;
    border: 1px solid white;
    color: #00a0c1;
   }
   
   .web-icon, .national-icon, .booke-icon {
    width: 50px;
    height: auto;
   }

   .all-containers {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    gap: 30px;
   }

   @media (max-width: 768px) {

    .web-container, .national-container, .digital-container {
        flex-direction: column;
    }
    .title, .title-2 {
        text-align: center;
        max-width: 768px;
        margin-bottom: 40px;
    }
   }

   @media (max-width: 480px) {
    .all-containers {
    min-width: 220px;
    flex-direction: column;
    margin-bottom: 40px;
}
   }
    */

    section#choose-us {
        background-color: #252b42;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        padding: 80px 0;
    }
    
    .feature-container {
        width: 25%;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: #D9EDFF;
        /* transition: box-shadow 0.3s ease-in-out; */
    }
    
    /* .feature-container:hover {
        box-shadow: -5px -5px 10px #888888, 5px 5px 10px #FFA62B;
    } */
    
    .feature-title {
        display: flex;
        gap: 12px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        color: #252b42;
    }
    
    .feature-description {
        border-radius: 8px;
        background-color: #FFFFFF;
        color: #252b42;
        border: 1px solid #A9D6FF;
        /* transition: background-color 1s ease-in; */
    }
    
    /* .feature-description:hover {
        background-color: #D9EDFF;
    } */
    
    .feature-container li {
        list-style-type: "- ";
    }
    
    .feature-container li:last-of-type {
        list-style-type: none;
        color: #00A0C1;
        cursor: pointer;
        margin: 8px 8px 8px -8px;
    }

    section#title {
        background-color: #252b42;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .why, .service, .clients, .people {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        margin-top: 80px;
    }
    
    .why :first-child, .service :first-child, .clients :first-child, .people :first-child {
        font-size: 40px;
        margin: 0;
    }

    /* @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
    
        50% {
            transform: rotate(180deg);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }
    .spinner {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid #FFA62B;
        border-top: 5px #252b42;
        animation: spin 5s linear infinite;
    } */

    section#service {
        background-color: #252b42;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section#video {
        background: linear-gradient(
            to bottom, 
            #252B42 0%,
            #252B42 50%,
            #16697A 50%,
            #16697A 100%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }
    
    .container-service {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .office-photo {
        position: relative;
        width: 80%; 
    }

    section#opinion {
        background-color: #252b42;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section#review {
        background-color: #252b42;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 80px;
        padding: 80px 0;
    }

    .row-2 {
        display: flex;
        gap: 25px;
        margin-bottom: 50px;
        align-items: center;
    }

    .comments {
            display: flex;
            gap: 25px;
            margin-bottom: 50px;
            align-items: center;
        }
    
    .card-comments {
        display: flex;
        padding: 30px 35px;
        border-radius: 5px;
        border: 1px solid #DEDEDE;
        background: white;
    }
    .card-content-2 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .rating {
        width: 10%;
        display: flex;
        align-items: start;
    }
    
    .card-content-2 p {
        color: #737373;
        line-height: 24px;
        margin: 0;
        letter-spacing: 0.2px;
    }
    
    .frame {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 15px;
    }
    .frame img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    .frame-1 a {
        color: #FFA62B;
        text-decoration: none;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    
    .frame-1 p {
        color: #252B42;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: left; 
    }

    section#our-team {
        background-color: #252b42;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section#workers {
        margin: 0 auto;
        background: #252B42;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        padding: 80px;
    }
    
    .card-item-3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
    }
    .card-content-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
    
    }
    
    .card-content-3 h5 {
        color: #252B42;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
    }
    .card-content-3 h6 {
        color: #737373;
        margin: 0;
        font-size: 14px;
        line-height: 24px;
    }
    
    .social-media {
        display: flex;
        gap: 15px;
    }

    section#contact-us {
        background-color: #252B42;
        background-image: url(./images/background.jpg);
        padding: 80px 0;
        display: flex;
        flex-direction: column;
    }
    
    .form-container {
        width: 60%;
        margin: 0 auto;
        color: #ffffff;
    }
    
    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 30%);
        grid-template-rows: repeat(4, 50px);
        gap: 20px;
    }
    
    .contact-form input:last-child {
        grid-area: 3/1/5/3;
    } 
    
    .form-container * {
        border-radius: 4px;
    }
    
    .submit-btn {
        margin-top: 24px;
        width: 218px;
        height: 58px;
        border-radius: 4px;
        background-color: #FFA62B;
        color: #ffffff;
    }

    /* footer {
        width: 80%;
        margin: 0 auto;
        background-color: #252B42;
        display: flex;
        gap: 60px;
    } */
    
    /* footer div {
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: #ffffff;
    } */

    section#nav-footer {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        background-color: #252B42;
    }
    section#footer {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        background-color: #252B42;
    }

    .footer-logo {
        display: flex;
        align-items: center;
    }
    
    .footer-logo h3 {
        color: white;
        
    
    }
    
    .nav-bar-item {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
    }
    
    .footer-nav {
        display: flex;
        gap: 30px;
        color: white;
        padding-bottom: 20px;
    }
    
    .footer-col{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .footer-col ul,a {
        color: #BDBDBD;
        list-style-type: none;
        padding: 0;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        gap: 10px;
        cursor: pointer;
    }
    
    .footer-form {
        border-radius: 5px;
    }
    
    .footer-form input {
        padding-right: 120px;
    }
    
    .subscribe-btn {
        border-radius: 0px 5px 5px 0px;
        border: 1px solid #E6E6E6;
        background: #FFA62B;
        display: flex;
        padding: 3 px 22px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 0;
        color: white;
    }
    
    .footer-col p {
        color: #BDBDBD;
        margin-top: 7px;
    }
   
   

  